---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Home from "../components/sections/Home.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
---

<Layout title="Franco Pistelli Portfolio">
	<Navbar />
	<main class="bg-white px-10 lg:px-20 xl:px-40">
		<Home />
		<Experience />
		<Projects />
	</main>
</Layout>
